h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}

:root {
	--light-color: #f5f5f7;
	--dark-color: #221f20;
	--red-color: #ff0659;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;

	@media screen and (max-width:768px) {
		& {
			--container-padding-inline: 6%;
			--footer-padding-inline: 6%;
		}

	}

	@media screen and (max-width:375px) {
		& {
			--container-padding-inline: 15px;
			--footer-padding-inline: 15px;
		}

	}
}

.container {
	padding: 0 var(--container-padding-inline);
}

.title {
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-size: 40px;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;

	span {
		position: relative;
	}

	span::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 75px;
		height: 2px;
		background-color: black;
	}

	@media screen and (max-width:768px) {
		& {
			font-size: 36px;
		}
	}

	@media screen and (max-width:576px) {
		& {
			font-size: 24px;
		}
	}
}


.promo {
	position: relative;
	min-height: 100vh;
	background: url(../img/main_bg.jpg) center center / cover no-repeat;
	padding-top: 75px;

	@media screen and (max-width:768px) {
		& {
			background-image: url(../img/tablet_bg.jpg);
		}
	}

	@media screen and (max-width:576px) {
		& {
			min-height: 500px;
			padding-top: 50px;
		}
	}
}



.promo__title {
	color: var(--light-color, rgba(245, 245, 247, 1));
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 400;

	@media screen and (max-width:768px) {
		& {
			font-size: 48px;
		}
	}

	@media screen and (max-width:576px) {
		& {
			font-size: 26px;

		}
	}

}


.promo__subtitle {
	margin-top: 125px;
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 32px;
	font-weight: 100;

	@media screen and (max-width:768px) {
		& {
			margin-top: 80px;
		}
	}

	@media screen and (max-width:576px) {
		& {
			margin-top: 30px;
			font-size: 16px;
		}
	}
}


.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background: #d9d9d900;
	border: 1px solid var(--light-color, rgba(245, 245, 247, 1));
	margin-top: 20px;
	width: 160px;
	min-height: 38px;
	padding: 3px 10px;
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 16px;
	box-shadow: 5px 5px 10px 0px #ffffff9E;
	font-weight: 100;
	cursor: pointer;
	transition: all 0.3s ease-out;

	@media screen and (max-width:576px) {
		& {
			font-size: 14px;
			width: 120px;
			min-height: 30px;
		}
	}

}



.btn:hover {
	box-shadow: 0px 0px 0px 0px #ff00009e;
	background-color: #ff00009e;
	font-weight: 500;




}

.promo__address {
	margin-top: 100px;
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 16px;
	font-weight: 100;
	position: relative;

	address {
		font-style: normal;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: -45px;
		top: -20px;
		width: 49px;
		height: 49px;
		background: url(../icons/arrow.svg) center center / cover no-repeat;
	}

	@media screen and (max-width:768px) {
		&::before {
			left: -40px;
		}
	}

	@media screen and (max-width:750px) {
		&::before {
			display: none;
		}
	}

	@media screen and (max-width:768px) {
		& {
			margin-top: 80px;
		}
	}

	@media screen and (max-width:576px) {
		& {
			margin-top: 233px;
		}
	}
}



.keywords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding: 0 360px;
	width: 100%;
	height: 20px;
	background: linear-gradient(180deg,
			rgba(255, 255, 255, 0.03999999910593033) 0%,
			rgba(255, 255, 255, 0.11999999731779099) 50%,
			rgba(255, 255, 255, 0.20000000298023224) 100%);

	li {
		list-style-type: none;
		color: var(--light-color, rgba(245, 245, 247, 1));
		font-size: 10px;
		text-decoration: none;
		font-weight: 100;
	}

	@media screen and (max-width: 1440px) {
		& {
			padding: 0 20px;
		}
	}

	@media screen and (max-width:768px) {
		& li:nth-last-child(-n+6) {
			display: none;
		}
	}

	@media screen and (max-width:576px) {
		& li:nth-last-child(-n+11) {
			display: none;
		}

		& {
			margin-top: 10px;
		}
	}
}



.about {
	background-color: var(--light-color, rgba(245, 245, 247, 1));
	padding-top: 80px;

	@media screen and (max-width:576px) {
		& {
			padding-top: 50px;
		}
	}
}

.about__title {
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
}

.about__text {
	width: 1100px;
	margin-top: 20px;
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-size: 40px;
	font-style: normal;
	font-weight: 400;

	span {
		color: #a5a5a5;
	}

	@media screen and (max-width: 1440px) {
		& {
			width: 100%;
		}
	}

	@media screen and (max-width:768px) {
		& {
			font-size: 24px;
		}
	}

	@media screen and (max-width:576px) {
		& {
			font-size: 16px;
		}
	}

}

.services {
	display: flex;
	column-gap: 10px;
	margin-top: 80px;

	@media screen and (max-width:768px) {
		& {
			flex-direction: column;
			margin-top: 40px;
			row-gap: 40px;
			width: 100%;
		}
	}

	@media screen and (max-width:576px) {
		& {
			margin-top: 20px;
			row-gap: 20px;
		}
	}

	@media screen and (max-width:768px) {
		& div {
			width: 100%;
		}
	}

	@media screen and (max-width:768px) {
		& div {
			font-size: 16px;
		}
	}

	@media screen and (max-width:576px) {
		& div, div li {
			font-size: 14px;
		}

		& div .services__item-subtitle, .services__text {
			font-size: 12px;
		}

	}
}




.services__items {
	width: 50%;

	ul {
		margin-top: 20px;
		padding: 0;
	}

	li {
		position: relative;
		color: var(--dark-color, rgba(34, 31, 32, 1));
		margin-top: 10px;
		list-style-type: none;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		&:first-child::before {
			content: "";
			display: block;
			position: absolute;
			width: 15px;
			height: 15px;
			background: url('../icons/camera.svg');
			left: -30px;
			top: 2px;
		}

		&:nth-child(3)::before {
			content: "";
			display: block;
			position: absolute;
			width: 15px;
			height: 15px;
			background: url('../icons/edit.svg');
			left: -30px;
			top: 2px;
		}
	}

	@media screen and (max-width: 768px) {
		& li:first-child::before {
			left: -25px;
		}

		& li:nth-child(3):before {
			left: -25px;
		}
	}

	@media screen and (max-width: 576px) {
		& li:first-child::before {
			display: none;
		}

		& li:nth-child(3):before {
			display: none;
		}
	}



}

.services__item-subtitle {
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
}



.services__text {
	width: 50%;
	font-size: 20px;
	color: var(--dark-color, rgba(34, 31, 32, 1));
	letter-spacing: 0.4px;
	font-style: normal;
	font-weight: 400;

}

.works {
	padding-top: 80px;
	background-color: var(--light-color, rgba(245, 245, 247, 1));

	@media screen and (max-width:768px) {
		& {
			padding-top: 50px;
		}
	}


}

.works__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr) 1.5fr;
	row-gap: 30px;
	column-gap: 30px;
	margin-top: 50px;

	img {
		width: 100%;
		box-shadow: 5px 5px 10px 0px #00000040
	}

	@media screen and (max-width:768px) {
		& {
			margin-top: 40px;
		}
	}

	@media screen and (max-width:576px) {
		& {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, 1fr) 1.5fr;
			row-gap: 30px;
			column-gap: 0px;
		}
	}
}

.inspiration {
	padding-top: 80px;
	background-color: var(--light-color, rgba(245, 245, 247, 1));

	@media screen and (max-width:768px) {
		& {
			padding-top: 50px;
		}
	}
}

.inspiration__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
	margin-top: 50px;

	img {
		width: 100%;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}

	/* После 1200 фотки кажутся слишком маленькими, так что лучше адаптировать */
	@media screen and (max-width: 1200px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		gap: 30px 20px;
	}

	@media screen and (max-width: 768px) {
		margin-top: 40px;
	}

	@media screen and (max-width: 576px) {
		grid-template-columns: 1fr;
		/* 2.1 и 0.5 значения были получены, если разделить 
        высоту этого изображения на высоту стандартного изображения */
		grid-template-rows: repeat(3, 1fr) 2.1fr 1fr 0.5fr;
		column-gap: 0px;
		row-gap: 20px;
	}
}

#tenement {
	grid-row: 1/3;
	grid-column: 4/5;
	/* Небольшое улучшение */
	height: 100%;

	@media screen and (max-width: 1200px) {
		grid-row: 2/4;
		grid-column: 2/3;
	}

	@media screen and (max-width: 576px) {
		grid-row: auto;
		grid-column: auto;
	}
}

#sky {
	grid-column: 2/4;

	@media screen and (max-width: 1200px) {
		grid-column: 1/3;
	}

	@media screen and (max-width: 576px) {
		grid-column: auto;
	}
}

.customers {
	padding-top: 80px;
	background-color: var(--light-color, rgba(245, 245, 247, 1));

	@media screen and (max-width:768px) {
		& {
			padding-top: 50px;
		}
	}
}


.customers__grid {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding-bottom: 100px;

	img {
		width: calc((100% - 90px)/4);
		box-shadow: 5px 5px 10px 0px #00000040
	}

	@media screen and (max-width:768px) {
		& {
			margin-top: 40px;
			padding-bottom: 50px;
		}
	}

	@media screen and (max-width:576px) {
		& {
			margin-top: 30px;
			column-gap: 36px;
			row-gap: 20px;
		}

		& img {
			width: calc((100% - 36px)/2);
		}
	}
}

div::selection {
	color: var(--light-color, rgba(245, 245, 247, 1));
	background-color: var(--dark-color, rgba(34, 31, 32, 1));
}

.promo div::selection {
	color: var(--dark-color, rgba(34, 31, 32, 1));
	background-color: var(--light-color, rgba(245, 245, 247, 1));
}

.bottom {
	padding: 88px var(--footer-padding-inline);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: black;
	font-weight: 400;
	font-size: 20px;
	color: var(--light-color, rgba(245, 245, 247, 1));

	@media screen and (max-width: 1024px) {
		font-size: 16px;
	}

	@media screen and (max-width: 768px) {
		padding: 30px var(--footer-padding-inline) 40px var(--footer-padding-inline);
		flex-direction: column;
		align-items: start;
		row-gap: 30px;
	}

	@media screen and (max-width: 375px) {
		align-items: center;
	}


}

.footer_addr {
	font-style: normal;

	@media screen and (max-width: 375px) {
		order: 3;
	}
}

.footer_numb {
	color: var(--light-color, rgba(245, 245, 247, 1));
	text-decoration: none;
}

.footer_socials {
	display: flex;
	gap: 30px;
	padding-left: 0;

	li {
		width: 32px;
		height: 30px;
		background: black;
		border: 1px solid var(--light-color, rgba(245, 245, 247, 1));

		a {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-size: 16px;
			text-align: center;

			img {
				width: 22px;
				height: 22px;
			}
		}
	}

	@media screen and (max-width: 1024px) {
		column-gap: 27px;
	}
}